{% load i18n %}
<div id="title-panel" class="span10 well">
	<a href="http://innovafrica.org/fr/forum/abidjan-2013/" target="_blank" title="Forum InnovAfrica 2013 Abidjan">
		<img alt="" src="http://imaginationforpeople.org/site_media/uploads/logo_innovafrica_long_1_6.png" style="float: right; margin-top: 5px; margin-right: 5px;" width="300">
	</a>
	<h3 style="text-align: center"> {{event.name|capfirst}} - {% trans 'Volunteer coordination'|capfirst %} </h3>
	<h5 style="text-align: center">Contact : alban.tiberghien@innovafrica.org / +225 77 46 59 11</h5>
</div>
<div id="login-panel" class="span2 well">
	{% if user.is_authenticated %}
	<p>
		{{ user.first_name }} {{ user.last_name }}
		<br />
		<a href="{% url 'logout'%}?next={% url 'volunteer-index'%}">{% trans 'logout'|capfirst %} </a>
	</p>
	{% else %}
	<form class="form-signin" method="post" action="{% url 'login' %}"> {% csrf_token %}
		<input type="hidden" name="next" value="{% url 'volunteer-index' %}">
		<input name="username" type="text" class="form-control" placeholder="{% trans 'username'|capfirst %}" required="">
		<input name="password" type="password" class="form-control" placeholder="{% trans 'password'|capfirst %}" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">
		{% trans 'login'|capfirst%}
		</button>
	</form>
	{% endif %}
</div>